# Logs
*.log

# Binaries
bin/

# Environment Files
.env

# Terraform
deploy/.terraform/
deploy/.terraform.lock.hcl
deploy/terraform.tfstate
deploy/terraform.tfstate.backup

# IDE Specific
.idea/
.vscode/
*.iml

# Docker
*.tar

# Node Modules (if applicable)
node_modules/

# GCP Service Account Key
deploy/service-account.json

# Build Artifacts
*.out
*.o

# Misc
.DS_Store
Thumbs.db
